html,
body {
	margin: 0;
	padding: 0;
}

body {
	padding: 20px;
	background-color: #3a78a1;
}

.column {
	width: 100px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 10px;
	display: inline-block;
	vertical-align: bottom;
	background: rgba(0, 255, 255, 0.2);
	border: 2px solid white;
	color: white;
}

.column-1 {
	height: 36px;
}

.column-2 {
	height: 56px;
}

.column-3 {
	height: 76px;
}