html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 540px;
	min-height: 290px;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 1.5;
	font-family: Arial, sans-serif;
	color: white;
	background-color: #3a78a1;
	background-repeat: repeat;
	background-position: -80px -80px;
}

.block {
	background: rgba(0, 255, 255, 0.2);
	border: 2px solid white;
}

.block1 {
	width: 196px;
	height: 36px;
	margin-bottom: 20px;
}

.block2 {
	width: 56px;
	height: 36px;
	padding: 10px 40px;
	margin-left: 120px;
	margin-bottom: 20px;
}

.block3 {
	width: 166px;
	height: 26px;
	padding: 5px;
	border: 12px solid white;
	margin-left: 20px;
}