html, 
body {
	margin: 0;
	padding: 0;
}

body {
	width: 380px;
	min-height: 280px;
	padding: 10px;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.4;
	background: #ecf0f1;
}

.main-menu,
.sub-menu {
	width: 200px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu > li {
	position: relative;
	background: #2980b9;
	border-bottom: 2px solid #2c3e50;
}

.main-menu a {
	display: block;
	padding: 10px 15px;
	color: #ffffff;
	text-decoration: none;
}

.main-menu .opened {
	background: #1abc9c;
}

.main-menu .sub-menu {
	position: absolute;
	left: 180px;
	top: 0px;
	z-index: 1;
}

.main-menu .sub-menu > li {
	background: #1abc9c;
	border-bottom: 2px solid #2ecc71;
}